table{
    width: 800px;
    background-color: bisque;
    color: rgb(234, 13, 13);
}

td img {
    display: block; 
    margin: auto; 
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;  
    color: rgb(234, 7, 7);
    font-family: sans-serif;
}
.form-table{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}