
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-financial-finance-cartoon-banner-poster-background-image_188700.jpg);
}

.container {
    max-width: 600px;
    margin: auto;
    background-color: #ff7337;
    margin-top: 30px;
}


.content {
    padding: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c312c;
    font-size: 35px;
}

label {
    font-weight: bold;
    color: #0d0d0e;
}

input[type="text"],
input[type="tel"],
select {
    width: calc(100% - 22px);
    padding: 15px;
    margin-bottom: 25px;
    border: none;
    border-bottom: 2px solid #adb5bd;
    border-radius: 0;
    background-color: transparent;
    transition: border-bottom-color 0.3s ease;
}

input[type="text"]:focus,
input[type="tel"]:focus,
select:focus {
    outline: none;
    border-bottom-color: #d71111;
}

select {
    cursor: pointer;
}

button[type="submit"] {
    background: #04d812;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background: #ff0000;
}

#cardFields {
    display: none;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .content-wrapper {
        width: auto;
    }
}
